<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</head>
<body>

<script type="text/javascript">

    var no = 2;

    function add(id) {
        let txt = `<tr id="row-${no}">
            <th class="col-1">
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-danger">🔺</button>
                    <button class="btn btn-outline-danger">🔻</button>

                </div>

            </th>
            <td class="col-1">
                <input type="text" class="form-control" placeholder="" value="${no}" disabled>
            </td>
            <td class="col-auto">
                <input type="text" class="form-control" placeholder="Col Name">
            </td>
            <td class="col-2">
                <div class="btn-group" role="group">

                    <select class="form-select" aria-label="Default select example">

                        <option value="Text">Text</option>
                        <option value="Table">Table</option>
                        <option value="Image">Image</option>
                    </select>

                    <select class=" form-select" aria-label="Default select example ">
                        <option selected value="Text">Text</option>
                        <option value="Count">Count</option>
                        <option value="Relay(';')">Relay(';')</option>
                        <option value="Num(Min)">Num(Min)</option>
                        <option value="Num(Max)">Num(Max)</option>
                    </select>

                </div>
            </td>

            <td class="col-auto">
                <input type="text" class="form-control" placeholder="Insert Query Selector">
            </td>
            <td class="col">
                <div class="btn-group" role="group">
                    <button class="col btn btn-primary">🛠</button>
                    <button class="col btn btn-success">✅</button>
                </div>
                <div class="btn-group" role="group">
                    <button id="row-${no}-btn" onclick="add(this.id);" class="col btn btn-warning">✖</button>
                    <button id="${no}" class="col btn btn-danger" onclick="remove(this.id);">➖</button>
                </div>

            </td>

        </tr>`;

        $('#row-' + (no - 1).toString()).after(txt);
        no += 1;
    }

    function remove(id) {
        if (no > 2) {
            $('#row-' + (no - 1).toString()).remove();
            no -= 1;
        }

    }
</script>

<div class="input-group p-4">

    <input type="text" class="form-control" placeholder="Insert Test Url">
    <button class="btn btn-outline-secondary" type="button">Open/Test URL</button>
</div>


<div class="row  p-4">
    <div class="  input-group">
        <button class="col-2 btn btn-primary" disabled type="button">Project Name</button>
        <input type="text" class="form-control" placeholder="Project Name">
        <button class="col-2 btn btn-primary">✔ Save Project</button>
    </div>
</div>


<div class="p-4">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Order</th>
            <th scope="col">No</th>
            <th scope="col">Column Name</th>
            <th scope="col">Type / Option</th>
            <th scope="col">Select Query</th>
            <th scope="col">Test / Save / Add / Remove</th>
        </tr>
        </thead>

        <tbody>
        <tr id="row-1">
            <th class="col-1">
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-danger">🔺</button>
                    <button class="btn btn-outline-danger">🔻</button>

                </div>

            </th>
            <td class="col-1">
                <input type="text" class="form-control" placeholder="" value="1" disabled>
            </td>
            <td class="col-auto">
                <input type="text" class="form-control" placeholder="Col Name">
            </td>
            <td class="col-2">
                <div class="btn-group" role="group">

                    <select class="form-select" aria-label="Default select example">

                        <option value="Text">Text</option>
                        <option value="Table">Table</option>
                        <option value="Image">Image</option>
                    </select>

                    <select class=" form-select" aria-label="Default select example ">
                        <option selected value="Text">Text</option>
                        <option value="Count">Count</option>
                        <option value="Relay(';')">Relay(';')</option>
                        <option value="Num(Min)">Num(Min)</option>
                        <option value="Num(Max)">Num(Max)</option>
                    </select>

                </div>
            </td>

            <td class="col-auto">
                <input type="text" class="form-control" placeholder="Insert Query Selector">
            </td>
            <td class="col">
                <div class="btn-group" role="group">
                    <button class="col btn btn-primary">🛠</button>
                    <button class="col btn btn-success">✅</button>
                </div>
                <div class="btn-group" role="group">
                    <button id="row-1-btn" onclick="add(this.id);" class="col btn btn-warning">✖</button>
                    <button id="1" class="col btn btn-danger" onclick="remove(this.id);">➖</button>
                </div>

            </td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>